body {
    font-family: Helvetica, Verdana, sans-serif;
    background-color: #333;
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #222;
    padding: 40px;
}

footer {
    background-color: black;
    padding: 10px;
    margin-top: auto;
}

main {
    padding: 20px;
}

h1,
h2,
p {
    color: lightgray;
}

.profile {
    height: 300px;
    border-radius: 50%;
}

h1 {
    font-size: 3em;
    font-weight: 400;
}

h2 {
    font-size: 2.5em;
    font-weight:500;
}

p {
    font-size: 1.2em;
}

p.copyright,
p.contact {
    font-size: 0.8em;
    font-weight: bold;
}

p.project-description {
    font-size: 1em;
    font-weight: 300;
}

a.project-link{
    font-size: 24px;
    color: rgb(136, 135, 212);
}

.project-box {
    margin: auto;
    width: 40%;
    border: 3px solid black;
    padding: 10px;
    background-color: #444;
    border-radius: 10px;
}